<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>My app</title>
</head>

<body>

<h1>I can write hello world</h1>

<p>Hello world!</p>

<a href="https://docs.google.com/document/d/1Z1G4Mi2H94VeVS9-HPngz46zoXmsl8NUMiGfKkCNgBU/edit" target="_blank">
Documentation day7
</a>

<table border="1">
    <thead>
    <tr>
        <th>Fruit names</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Apple</td>
        <td>2</td>
    </tr>

    <tr>
        <td>Orange</td>
        <td>3</td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
        <td colspan="2">The outcome: 5</td>
    </tr>


    </tfoot>





</table>

</body>

</html>